<!-- <body>
    <div class="login-container">
        <h2>Login</h2>
        <form [formGroup]="logininput" (ngSubmit)="onSubmit()">
            <input type="text" name="username" formControlName="username" required>
            <input type="password" name="password" formControlName="password" required>
            <input type="submit" value="Login">
        </form>
    </div>
  </body> -->
   
<body>
    <div class="container">
        <form [formGroup]="loginform"(ngSubmit)="onSubmit()">
            <h2>Login</h2>
            <div class="input-container">
                <label for="username">username</label>
                <input type="text" name="username" formControlName="username" required>
            </div>
            
            <div class="input-container">
                <label for="password">password</label>
                <input type="password" name="password" formControlName="password" required>
            </div>
            <!-- <button type="submit">Login</button> -->
            <input type="submit" value="Login">
        </form>
    </div>
</body>

