<body>
    <div class="container">
        <form [formGroup]="loginform"(ngSubmit)="onSubmit()">
            <h2>Login</h2>
            <div class="input-container">
                <label for="username">Username:</label>
                <input type="text" name="username" formControlName="username" required>
            </div>
            
            <div class="input-container">
                <label for="password">Password:</label>
                <input type="password"  name="password" formControlName="password" required>
            </div>
            <!-- <button type="submit">Login</button> -->
            <!-- <input type="submit" value="Login"> -->
            <button (click)="onSubmit()">Login</button>
        </form>
    </div>
</body>

